@font-face {
  font-family: 'Oldschool Grotesk Regular';
  src: url('../fonts/Oldschool-Grotesk-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oldschool Grotesk Medium';
  src: url('../fonts/Oldschool-Grotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face{font-family:FontAwesome;src:url(../fonts/fontawesome-webfont.eot?v=4.7.0);src:url(../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0);
}
html, body {
  height: 100%;
}
@media screen and (min-width: 960px) {
  html {
      // margin-left: calc(100vw - 100%);
      // margin-right: 0;
  }
}
body {
  margin: 0; // 1
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:focus-visible {
  outline: #ffa200 auto 2px;
  outline-color: #ffa200;
  outline-style: auto;
  outline-width: 2px;
}
#wpadminbar {
  display: none!important;
}

body.page-template-landing-page {
  background: #333;
}
b, strong {
  font-weight: 500;
}

.h1 ,h1 {
  font-family: 'Oldschool Grotesk Medium', sans-serif;
  font-size: 2rem;
}
.h2 ,h2 {
  font-family: 'Oldschool Grotesk Medium', sans-serif;
  font-size: 1.6rem;
  margin: 2rem 0 1rem;
}
.h3 ,h3 {
  font-family: 'Oldschool Grotesk Medium', sans-serif;
  font-size: 1.4rem;
  margin: 2rem 0 1rem;
}

.h4, h4 {
  font-family: 'Oldschool Grotesk Medium', sans-serif;
  font-size: 1.3rem;
}

.h5, h5 {
  font-family: 'Oldschool Grotesk Medium', sans-serif;
  font-size: 1.2rem;
}

a {
  color: #000;
  opacity: 1;
  text-decoration: none;
  transition: opacity .15s linear, color .15s linear;;
}

a:hover {
  color: #333;
  @media (min-width: 768px) {
    opacity: 1;
  }
}

.navbar-nav .active a {
  text-decoration: underline;
}

.site-main article {
  a:hover {
    @media (min-width: 768px) {
      color: #444;
    }
  }
}

.entry-content {
  .h4, h4 {
    margin-top: 2rem;
  }
}

.entry-content {
  > * {
    max-width: 920px;
  }
}
p a {
  text-decoration: underline;
}
p a:hover {
  opacity: 1;
}
// Blockquotes
.blockquote {
  font-style: italic;
  margin-top: $blockquote-margin-y;
  margin-bottom: $blockquote-margin-y;
}

.ox-landing-caption {
  font-size: .8rem;
  font-weight: 200;
  @media (min-width: 768px) {
    font-size: 1rem;
    font-weight: 300;
  }
}

.bg-image img {
  opacity: 0;
  transition: opacity 2s ease .3s; 
}
.partner-logos-menu .nav-link {
  transition: opacity .15s linear, color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  padding: 1rem;

  img {
    max-height: 52px;
  }
  
  @media (min-width: 768px) {
    // padding: 0.5rem 1rem;
    padding: 0;

  }

}

.custom-logo-link {
  img {
    width: 100px;
    height: auto;
    
    @media (min-width: 992px) {
      width: 200px;
    }
  }
}


.navbar-toggler {
  border-radius: 0;
}
.navbar-toggler:focus {
  box-shadow: unset;
}
.navbar-toggler:focus-visible {
  outline: #ffa200 auto 2px;
  outline-color: #ffa200;
  outline-style: auto;
  outline-width: 2px;
}


.btn-light {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.btn-light:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.ox-landing-title {
  background: rgba(0,0,0,.5);
  min-height: 180px;
  .navbar-brand img {
    filter: invert(1) brightness(1.3);
  }
  @media (min-width: 768px) {
    min-height: unset;
    background: transparent;
  }
}
.ox-enter-btn {
  font-size: .9rem;
  /* font-weight: 400; */
  border-radius: 50%;
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  transition: opacity .15s linear;
  i {
    margin-left: .5rem;
  }
  @media (min-width: 768px) {
    font-size: 1.4rem;
    height: 120px;
    width: 120px;
  font-size: 1.4rem;
    &:hover {
      opacity: .8;
    }
  }
}

.ox-navbar-spacer {
  display: none; 
  @media (min-width: 768px) {
    display: block;
    width: 334px;
  }
}

.partner-logos-menu {
  background: #fff;
  margin: 0;
  padding: 0;
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr; 
  // grid: auto / repeat(12, 1fr);
  
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  li {
    list-style: none;
    // grid-column: span 4;
  }
  // li:nth-child(7n), 
  // li:nth-child(7n-1), 
  // li:nth-child(7n-2), 
  // li:nth-child(7n-3) {
  //   grid-column: span 3;
  // }
  @media (min-width: 768px) {
    display: flex;
    li {
      padding: 1rem;
    }
  }
  @media (min-width: 1400px) {
    li {
      padding: 1.5rem;
    }
  }
}

.partner-logos-menu a > span {
  // sr-only
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.btn-close:focus {
  box-shadow: unset;
}
.btn-close:focus-visible {
  outline: #ffa200 auto 2px;
  outline-color: #ffa200;
  outline-style: auto;
  outline-width: 2px;
}
.btn-primary {
  color: #000;
  border-color: #ffe200;
  background-color: #ffe200;
  border-radius: 0;
}
.btn-secondary {
  background-color: #92e8ff;
  border-color: #92e8ff;
  color: #000;
  border-radius: 0;
}
.btn-primary:hover {
    color: #000;
    background-color: #fff9cc;
    border-color: #fff9cc;
}
.btn-secondary:hover {
    color: #000;
    background-color: #d0f5ff;
    border-color: #d0f5ff;
}
.dropdown-toggle::after {

  display: inline-block;
  margin-left: 0;
  vertical-align: 0;
  content: "\f107";
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  font-family: FontAwesome;

}

.card .card-body {
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.ratio img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;

} 

.search-field {
  // min-width: 240px!important;
  // border-right: 2px solid #000;
}

.ox-search-toggle::after {

  display: inline-block;
  margin-left: 0;
  vertical-align: 0;
  content: "\f002";
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  font-family: FontAwesome;

}
.btn-check:focus+.btn-primary, .btn-primary:focus {
  color: #000;
  background-color: #ffe200;
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 162, 0, 1);
}
.btn-check:focus+.btn-secondary, .btn-secondary:focus {
  color: #000;
  background-color: #d0f5ff ;
  border: 1px solid #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 162, 0, 1);
}

.btn-link {
  font-weight: 300;
  text-decoration: none;
  padding: 0;
  margin: 0;
  border: none;
  color:#000;
}
.btn-link:focus {
  outline: 0;
  box-shadow: unset;
}
.btn-link:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(85,51,255,.25);
}
.home-btn {
    background-color: transparent;
    border-color: #000;
    border: none;
    color: #000;
    border-radius: 0;
    text-decoration: none;
    padding: 0.375rem 1rem;
    border-left: 1px solid #000;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
  line-height: 1.7;
  margin: 0;
  display: flex;
align-items: center;
}
.home-btn:hover {
    color: #fff;
    background-color: #111;
}
.search-form {
  max-width: 500px;
  min-width: 260px;
}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 162, 0, 1);
}
.btn-check:active+.btn-secondary:focus, .btn-check:checked+.btn-secondary:focus, .btn-secondary.active:focus, .btn-secondary:active:focus, .show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 162, 0, 1);
}


.bg-primary {
    // --bs-bg-opacity: 1;
    // background-color: #fff!important;
}

.navbar {
  padding: 0;
  @media (min-width: 768px) {
  }
}

.navbar.ox-partners {
  padding: 0;
  margin: 0;
}
.navbar-brand {
  font-size: 1.125rem;
  font-weight: 500;
}

.navbar .h1, .navbar h1 {
  font-weight: 500;
}
.navbar .h2, .navbar h2 {
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
  @media (min-width: 768px) {
    font-size: 1.4rem;
  }
}

.navbar-brand { 
  opacity: 1;
  transition: opacity .15s
}
.navbar-brand:hover { 
  opacity: .8;
}

.navbar-brand a {
    text-decoration: none;
}

.navbar-nav li {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Oldschool Grotesk Regular', sans-serif;
  // letter-spacing: .5px;
  order: 1;
  
  @media (min-width: 1200px) {
    margin: 0 1.8rem;
  }
}
.ox-main-nav {
  height: 110px;
  @media (min-width: 992px) {
    height: 220px;
  }
}

.ox-main-nav h1 {
  font-family: 'Oldschool Grotesk Regular', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0;
  color: rgba(0,0,0,1);
}

.ox-main-nav .navbar-nav  {
  .nav-link {
    display: inline-block;
    color: #000;
    padding: .5rem 0;
    // border-bottom: 3px solid transparent;
    transition: opacity .15s linear, color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    &:hover {
      // border-bottom: 3px solid #333;
      opacity: .55;
    }
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 0;
      padding-left: 0;
  }
}
@media (max-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 0;
      padding-left: 0;
  }
}

.navbar-nav .active .nav-link {
  color: #333;
  // border-bottom: 3px solid #333;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #333;
}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: .5rem;
    padding-left: .5rem;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 768px) {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
}

.ox-left-pad {
  @media (min-width: 1200px) {
    padding-left: 220px;
    padding-left: calc(200px + 2rem);
  }
}

.ox-carousel .carousel-item {
  height: 70vmin;
  max-height: 500px;
  @media (min-width: 1200px) {
    height: 50vmin;
    max-height: 500px;
  }
  img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    // opacity: .5;
    transition: .2s opacity linear;
  }
  // &:hover {
  //   img {
  //     opacity: 1;
  //   }
  // }
}
.ox-carousel .carousel-caption  {
  background: #fff;
  border: 1px solid #000;
  width: fit-content;
  max-width: 50%;
  padding: .5rem 1rem 0;
  left: 50%;
  right: auto;
  bottom: 3rem;
  text-align: left;
  transform: translateX(-50%);
  @media (min-width: 768px) {
    padding: 1rem 1rem 0;
  }
}

.ox-carousel .carousel-indicators {
  background: #fff;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-top: 3px solid #000;
  .active {
    background-color: #92e8ff;
  }
}

.ox-carousel .carousel-indicators [data-bs-target] {
  opacity: 1;
}

.single .entry-title {
  font-size: 2rem;
  margin-bottom: .5rem;
}

.page article.page .entry-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.blog article.post .entry-title {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.blog article.post .entry-content h4 {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.modal.fade .modal-dialog {
    transition: none;
    transform: unset;
}

.ox-single-header {

}


.ox-navbar .btn-secondary {
  // border-top: 1px solid black;
  border-left: 1px solid black;
  border: none;
  padding: 0 .5rem;
  display: inline-block;
line-height: 2.3;
margin: .35rem 0;
// text-transform: uppercase;
font-weight: 300;
width: fit-content;
}

.single .wp-block-image img {
  // object-fit: contain;
  // height: 100%;
  // width: 100%;
  // max-height: 80vh;
  // object-position: 0 0;
}

.admin-bar .modal {
  top: 32px!important;
}


.fa-angle-left:before {
    content: "\f105";
}
.fa-angle-right:before {
    content: "\f104";
}

.post-navigation a {
  color: #fff;
}

.ox-featured {
  margin-bottom: 3rem;
  // @media (max-height: 830px) and (min-width: 768px) {
  //   margin-bottom: 1rem;
  //   height: 50vh;
  //   max-height: 50vh;
  //   img {
  //     width: 100%;
  //     height: 100%;
  //     max-width: 100%;
  //     max-height: 100%;
  //     object-fit: contain;
  //   }
  // }
}
.ox-partners-home.ox-partners-home {
  @media (max-width: 768px) {
    position: relative!important;
    right: unset!important;
    bottom: unset!important;
    z-index: 1019!important;
  }
  @media (max-height: 690px) {
    position: relative!important;
    right: unset!important;
    bottom: unset!important;
    z-index: 1019!important;
  }
  @media (min-width: 1400px) {
    position: fixed!important;
    right: 0!important;
    bottom: 0!important;
    left: 0!important;
  }
}

.navbar-nav li.ox-home-btn{
  order: 0;
  @media (min-width: 992px) {
    order: 1;
    a {
      padding: 0!important;
    }
  }
  a {
    padding: 0 0 1rem!important;
    border: none!important;
  }
}

.ox-main-nav .navbar-nav .ox-home-btn .nav-link {
  opacity: 1;
  transition: opacity .15s linear;
  &:hover {
    opacity: .8;
  }
}

.ox-invert-logo {
  // filter: invert(1);
  height: 45px;
  width: 208px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
  }
}

.ox-intro-slide {
  font-family: 'Oldschool Grotesk Medium', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}
.page-template-home-page .site-main article {
  max-width: 920px;
  margin: 0 auto;
}
.blog .site-main article {
  max-width: 920px;
  margin: 0 auto;
  padding-bottom: 3rem;
}
.page-template-artwork-page .site-main article .entry-content {
  max-width: 920px;
  margin: 0 auto;
}
.page-template-events-page .site-main article  {
  max-width: 920px;
  margin: 0 auto;
  h2 {
    font-size: 1.5rem;
  }
}
.page-template-contact-page .site-main article .entry-content {
  max-width: 920px;
  margin: 0 auto;
  text-align: center;
}


element.style {
}               
.btn-group-vertical>.btn, .btn-group>.btn, .woocommerce-info .btn-group-vertical>a.button, .woocommerce-info .btn-group>a.button, .woocommerce-notices-wrapper .woocommerce-message .btn-group-vertical>a.button, .woocommerce-notices-wrapper .woocommerce-message .btn-group>a.button, .wpcf7 .btn-group-vertical>input[type=submit], .wpcf7 .btn-group>input[type=submit] {
    position: relative;
    flex: 1 1 auto;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn-light {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
.btn-light {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn {
  border-radius: 0;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  i {
    font-weight: 400;
  }
}

.dropdown-menu {
  border: 1px solid rgba(0,0,0,0);
  border-radius: 0;
}

.ox-search-dropdown.dropdown-menu[data-bs-popper] {
  left: auto;
  margin-top: 0.625rem;
  padding-top: 0;
}

// .flickity-slider {
//   transform: none !important;
//   height: 380px;
// }
// .carousel-cell {
//   transform: translateX(0%)!important;
//   left: 0 !important;
//   opacity: 0;
//   transition: opacity 0.3s ease-in-out;
//   z-index: -1;
//   object-fit: cover;
//   width: 100%;
//   height: 100%;
//   max-height: 380px;
// }

// .carousel-cell.is-selected {
//   opacity: 1;
//   z-index: 0
// }

// .flickity-page-dots {
//   bottom: 10px!important;
// }


.form-control, .widget_archive select, .widget_categories select, .wpcf7 .wpcf7-validation-errors, .wpcf7 input[type="color"], .wpcf7 input[type="date"], .wpcf7 input[type="datetime-local"], .wpcf7 input[type="datetime"], .wpcf7 input[type="email"], .wpcf7 input[type="file"], .wpcf7 input[type="month"], .wpcf7 input[type="number"], .wpcf7 input[type="range"], .wpcf7 input[type="search"], .wpcf7 input[type="submit"], .wpcf7 input[type="tel"], .wpcf7 input[type="text"], .wpcf7 input[type="time"], .wpcf7 input[type="url"], .wpcf7 input[type="week"], .wpcf7 select, .wpcf7 textarea {
  border: 1px solid #2d2a4a;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-control:focus, .widget_archive select:focus, .widget_categories select:focus, .wpcf7 .wpcf7-validation-errors:focus, .wpcf7 input[type=color]:focus, .wpcf7 input[type=date]:focus, .wpcf7 input[type=datetime-local]:focus, .wpcf7 input[type=datetime]:focus, .wpcf7 input[type=email]:focus, .wpcf7 input[type=file]:focus, .wpcf7 input[type=month]:focus, .wpcf7 input[type=number]:focus, .wpcf7 input[type=range]:focus, .wpcf7 input[type=search]:focus, .wpcf7 input[type=submit]:focus, .wpcf7 input[type=tel]:focus, .wpcf7 input[type=text]:focus, .wpcf7 input[type=time]:focus, .wpcf7 input[type=url]:focus, .wpcf7 input[type=week]:focus, .wpcf7 select:focus, .wpcf7 textarea:focus {
  color: #212529;
  background-color: #fff;
  border-color: #a9f;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #ffa200;
}

.wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_container .wp-block-jetpack-slideshow_slide, .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_container .wp-block-jetpack-slideshow_swiper-wrapper {
  
  @media (min-width: 992px) {
    padding: 0 4rem!important;
  }
}

.wp-block-jetpack-slideshow .amp-carousel-button, .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_button-next, .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_button-pause, .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_button-play, .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_button-prev {
  background-color: transparent!important;
}

.wp-block-jetpack-slideshow .amp-carousel-button-prev, .wp-block-jetpack-slideshow .swiper-button-prev.swiper-button-white, .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_button-prev, .wp-block-jetpack-slideshow.swiper-container-rtl .swiper-button-next.swiper-button-white, .wp-block-jetpack-slideshow.swiper-container-rtl .wp-block-jetpack-slideshow_button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='M18 4.12 10.12 12 18 19.88 15.88 22l-10-10 10-10z' fill='%23222'/%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3C/svg%3E")!important;
}
.wp-block-jetpack-slideshow .amp-carousel-button-next, .wp-block-jetpack-slideshow .swiper-button-next.swiper-button-white, .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_button-next, .wp-block-jetpack-slideshow.swiper-container-rtl .swiper-button-prev.swiper-button-white, .wp-block-jetpack-slideshow.swiper-container-rtl .wp-block-jetpack-slideshow_button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='M5.88 4.12 13.76 12l-7.88 7.88L8 22l10-10L8 2z' fill='%23222'/%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3C/svg%3E")!important;
}
.wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_pagination.swiper-pagination-bullets .swiper-pagination-bullet-active, .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_pagination.swiper-pagination-bullets .swiper-pagination-bullet[selected] {
  transform: scale(.75)!important;
}

// .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_slide figure {
//   padding-top: 3rem!important;
// }
// .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_caption.gallery-caption {
//   position: absolute!important;
//   top: 0!important;
//   bottom: auto!important;
//   padding: 0!important;
//   background-color:transparent!important;
//   text-align: center!important;
//   color: #000!important;
// }

@media (min-width: 768px) {
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    // padding-right: 2rem;
    // padding-left: 2rem;
  }
  .navbar-nav .nav-link:hover {
      // border-bottom: 1px solid #222;
  }
  .navbar-expand-md .navbar-nav .nav-link {
      // padding-right: 0;
      // padding-left: 0;
  }
  .navbar-expand-md .navbar-nav .nav-item {
      // padding-right: 0.5rem;
      // padding-left: 0.5rem;
  }
  .home .site-main article {
    max-width: 700px;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}